{% extends "base.html" %}
{% block content %}
    <div class="employer-background" style="background-image: url({{ employer.cover_photo }})"></div>
    <h2>{{ employer.name }}</h2>
    <p>{{ employer.about }}</p>
    <p>{{ employer.address }}</p>
    <p>Sími: {{ employer.phone }}</p>
    <p>Netfang: {{ employer.email }}</p>
    <p>{{ employer.job_offer.title }}</p>
    <br />
    <h5>Laus störf hjá {{employer.name}}</h5>
    <div class="job_offers">
        {% for job_offer in job_offers %}
        {% include 'job_offers_page/single_job_offer.html' with job_offer=job_offer %}
        {% endfor %}
    </div>
    <br />
{% endblock %}