{% extends 'base.html' %}
{% block content %}
    <h2 class="page_title">Vinnustaðir</h2>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Leit..."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Leita</button>
        </div>
    </div>
    <br />
    <div class="employers">
        {% include 'employers_page/single_employer.html' with employer=employer %}
    </div>
    <br />
{% endblock %}