/* General Styles */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #F6FFFE;
}


/* Footer Styles */

footer {
    background-color: #C9E0C5;
    color: #F6FFFE;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;

}

footer li {
    margin: 5px;
}
footer a {
    color: inherit;
    text-decoration: none;
}
footer p {
    margin: 5px;
}


/* Navbar Styles */

#navbar {
    background-color: #8ECCE0;
}

/* Job Offer Page Styles */

.job_offer_page {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

/* Job Listing Styles */

#jobs {
    background-color: blue;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.job_offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.well_job {
    flex-basis: calc(33.33% - 10px);
    background-color: #C9E0C5;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Image Styles */

.navbar-logo,
.profile_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.employer-profile-photo {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.employer-background {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    padding-bottom: 45%;
    height: auto;
    background-size: 70%;
}


.dropdown {
    max-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #C9E0C5;
    color: #F6FFFE;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px solid #363a43;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color : #9fa5b5;
    position: absolute;
    overflow-y: auto;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2a35;
}

.active {
    background: #23242a;
}
.menu.show {
    display: block;
    opacity: 1;
    visibility: visible;



.card-link:link
{
    color: #212121;
    text-decoration: none;
}
.card-link:visited
{
    color: #212121;
    text-decoration: none;
}
.card-link:hover
{
    color: #212121;
    text-decoration: none;
}
.card-link:active
{
    color: #212121;
    text-decoration: none;
}

.card-footer {
    background-color: #C9E0C5;
}

header {
    background-color: #8ECCE0;
}