.job_offer_page{
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

.footer {
    background-color: #C9E0C5; /* Background color for the footer */
    color: #F6FFFE; /* Text color */
    padding: 0px; /* Padding around the content */
    text-align: center; /* Center-align text */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0; /* Align to the left edge */
    width: 100%; /* Full width */
}
.footer a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
}

.footer ul {
    margin-bottom: 5px; /* Adjust bottom margin of the ul */
}
.footer p {
    margin-top: 5px; /* Adjust top margin of the paragraph */
    margin-bottom: 0; /* Remove bottom margin of the paragraph */
}


#jobs {
    background-color: blue;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns:
    repeat(auto-fill, minmax(300px, 1fr));
}

.job_offers {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.well_job {
    flex-basis: calc(33.33% - 10px); /* Each item takes 33.33% of the container width minus margin */
    background-color: #C9E0C5;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}
.navbar-logo {
    width: 40px; /* Set the width of the image */
    height: 40px; /* Set the height of the image */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire area */
}

