{% extends "base.html" %}
{% block content %}
    <h2>{{ job_offer.title }}</h2>
    <p>{{ job_offer.description }}</p>
    <p>Umsóknarfrestur: {{ job_offer.due_date }}</p>
    <p>Hlutfall: {{ job_offer.percentage }}</p>
    <!--employer info-->
    <!--link employer detail-->
    <!--apply button-->
    {% if user.is_authenticated %}
        <form method="get" action="{% url 'job_application_wizard_start' %}">
            {% csrf_token %}
            {{ wizard.management_form }}
            <button type="submit">Sækja um</button>
        </form>
    {% else %}
        <p>Þú þarft að vera <a href='{% url 'login' %}'>innskráður</a> til að sækja um.</p>
    {% endif %}
{% endblock %}