{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    {% if wizard.steps.step1 == 1 %}
        <h4>Persónulegar upplýsingar</h4>
    {% endif %}
    {% if wizard.steps.step1 == 2 %}
        <h4>Meðmæli</h4>
    {% endif %}
    {% if wizard.steps.step1 == 3 %}
        <h4>Fyrri störf</h4>
    {% endif %}
    {% if wizard.steps.step1 == 4 %}
        <h4>Yfirlit</h4>
    {% endif %}
    <form action="" method="post" class="application">{% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_table }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>
    {% if wizard.steps.next %}
    {% else %}
        <h5>Persónulegar upplýsingar</h5>
        <p>Nafn: {{ previous_cleaned_data.0.name }}</p>
        <p>Heimilisfang: {{ previous_cleaned_data.0.street_name }} {{ previous_cleaned_data.0.house_number }}</p>
        <p>Bær: {{ previous_cleaned_data.0.city }}</p>
        <p>Land: {{ previous_cleaned_data.0.country }}</p>
        <p>Póstnúmer: {{ previous_cleaned_data.0.postal_code }}</p>
        <p>Kynningarbréf: {{ previous_cleaned_data.0.cover_letter }}</p>
        <h5>Meðmæli</h5>
    {% for recommendation in previous_cleaned_data.1 %}
        <p>Nafn: {{ recommendation.name }}</p>
        <p>Email: {{ recommendation.email }}</p>
        <p>Símanúmer {{ recommendation.phone }}</p>
        {% if recommendation.contacted %}
            <p>Má hafa samband: Já</p>
        {% else %}
            <p>Má hafa samband: Nei</p>
        {% endif %}
        <p>Hlutverk: {{ recommendation.role }}</p>
    {% endfor %}
    <h5>Fyrri störf</h5>
    {% for xp in previous_cleaned_data.2 %}
        <p>Vinnustaður: {{ xp.place }}</p>
        <p>Hlutverk: {{ xp.role }}</p>
        <p>Starfsupphaf: {{ xp.start_date }}</p>
        <p>Starfslok: {{ xp.end_date }}</p>
    {% endfor %}
    {% endif %}
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "Fyrsta skref" %}</button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "Tilbaka" %}</button>
    {% endif %}
    {% if wizard.steps.next %}
        <input type="submit" value="{% translate "Halda áfram" %}"/>
    {% else %}
        <input type="submit" value="{% translate "Senda inn"  %}"/>
    {% endif %}
    </form>
{% endblock %}